aside{
  position: fixed;
  right: 20px;
  top: calc( 50% - 42.5px);
}
aside ul{
   
}
aside ul li:not(:last-child){   
  margin-bottom: 15px;
}
aside ul li a{   
  font-size: 0;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.5s;
}
.currentB{
  background-color: blue;
}
.currentW{
  background-color: white;
}
.active a{
  background-color: orange;
  transform: scale(1.5);
}