.ham{
  display: inherit;
  width: 25px;
  height: 20px;
  /*! background-color: white; */
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.ham span{  
  background-color: black;
  width: 100%;
  height: 3px;
  display: block;
}
.ham span:nth-child(1){
   
}
.ham span:nth-child(2){
   
}
.ham span:nth-child(3){
   
}